
:root{
    --color-gold:rgba(255, 215, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    color: #eaffff;
    list-style: none;
    transition: 0.5s;
}

body{
    /*background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbDB2N2x6c3FrcWYycGxhZnFkZWhuZGQ1ZWtiNXFxeXd4N2RyMmc2cyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/W307DdkjIsRHVWvoFE/giphy.gif');*/
    background-image: image-set("/media/background.png");
    background-size: cover;
    text-shadow: 0 0 1px #000000;
    
}

.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(30, 28, 136, 0.4);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 12px;
    
}

#avatar {
    width: 250px;       /* Largura da foto */
    height: 250px;      /* Altura deve ser igual à largura */
    border-radius: 50%;
    object-fit: cover;  /* Garante que a foto não fique esticada */
    border: 3px solid #ede7ea;
    margin: 20px 100px 10px 0;
}

#parabens {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}

.card{
    width: 400px;
    height: 400px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    object-fit: cover;
    margin: 20px 100px;
    padding: 50px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda{
    margin-left: 100px;
}
.foto{
    width: 400px;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    border: 3px solid #ede7ea;
    margin: 20px 60px;
}

.a{
    background-image: url("/media/lorenzo.png");
    background-size: cover;
    background-position: 50% 20%;
}

.divisor {
    width: 100%;
    height: 10px;               /* O seu retângulo horizontal */
    background-color: rgb(105, 58, 161); /* Cor bem forte para teste */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.logo-divisor {
    height: 100px;               /* Altura da logo */
    width: auto;                /* Ajusta a largura proporcionalmente */
    display: block;
    object-fit: contain;        /* Garante que a logo não fique esticada */
    padding-top: 3px;
}

#aviao-feliz{
    width: 500px;
    height: 300px;
}
.cor{
    color: #1e3d65 !important;
}